<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Los puntos del partido asdfasdfasdf</h1>
    <p>
      Los puedes consultar en nuestra app asdfasfasd.
    </p>
    <p>Mucha Suerte!!</p>
  </body>
</html>