<li><%= link_to t(".players"), players_path %></li>
<li><%= link_to t(".teams"), teams_path %></li>
<li><%= link_to t(".games"), games_path %></li>
<li><%= link_to t(".brokerbasket"), brokerbasket_players_path %></li>