<nav class="navbar" role="navigation">
  <div class="col-xs-12 col-sm-3 col-md-2">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%= image_tag "logo/logo.png", class: "logo" %>
      </a>
    </div>
  </div>
  <div class="col-xs-0 col-sm-9 col-md-10">
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to t(".players"), players_path %>
        </li>
        <li>
          <%= link_to t(".teams"), teams_path %>
        </li>
        <li>
          <%= link_to t(".games"), games_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>