%td.text-left= object.id
%td= link_to object.title, admin_content_path(object)
%td= truncate object.body.html_safe, length: 25
%td
  - if object.published
    %i.glyphicon.glyphicon-ok
  - else
    %i.glyphicon.glyphicon-remove
%td.actions= smart_listing_item_actions [{name: :custom, url: admin_content_path(object), icon: "glyphicon glyphicon-active", remote: true, if: !object.published?, title:  "Publish content"}, {name: :edit, url: edit_admin_content_path(object)}, {name: :destroy, url: admin_content_path(object), confirmation: "Are you sure you want to delete this?"}]