- players.each do |player| 
  %a{:href => '/players/comparar/'+player.id.to_s}
    .col-xs-4.selectable-player{:data => {:player_id => "#{player.id}"}}
      .row
        .col-xs-12.col-sm-4.col-md-4.center
          = player_image player, "player_60"
        .col-xs-12.col-sm-8.col-md-8
          .col-xs-12.center
            = player.name
            %br
            = team_image player.team, "team_26 team_over_player"

:javascript
  $(".dropdown .dropdown-content").show()

  $(".selectable-player").click(function() {
    console.log($(this).data("player-id"));
  })