%h3= t('.title')
=text_field_tag :search_player, nil, {class: "form-control"}

.dropdown#search_result.col-xs-12
  .dropdown-content.col-xs-12.row

#comparador.col-xs-12
  - if @player1
    = render partial: "/players/comparar_player", locals: {player: @player1, pos: 1}

  - if @player2
    = render partial: "/players/comparar_player", locals: {player: @player2, pos: 2}

:javascript
  $("#search_player").keyup(function() {
    if($(this).val().length > 1){
      $.ajax({
        url: '/players/search',
        data: { q: $(this).val() },
        dataType: 'script',
        type: 'GET'
      });
    }
  });


