/*
 * FRONT
 */
body.front{
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #272a2f;;
  background-color: #272a2f;
  font-size: 12px;

  .font-10{
    font-size: 10px;
  }
  h1, h2, h3, h4, h5{
    font-weight: 500;
  }

  .logo{
    background-color: #272a2f;
    border-radius: 10px !important;
    color: #fff;
    font-size: 36px;
    //text-shadow: -1px 0 #66b4e8, 0 1px #66b4e8, 1px 0 #66b4e8, 0 -1px #66b4e8;
    margin-left: 4px;
    margin-top: 4px;
    height: 42px;
    font-family: 'Teko', cursive;
    margin-left: 0px !important;
  }

  #navbar{
    .nav{
      li{
        a:hover{
          //background-color: #7ec6ef;
        }
        a{
          color: #fff;
          font-size: 20px;
          font-weight: 500;
        }
      } 
    }
  }
  .navbar-inverse{
    border: 0px;
  }
  .navbar{
    background-color: #66b4e8;
  }
  .navbar, .navbar-brand{
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .round{
    border-radius: 10px;
  }
  .center{
    text-align: center;
  }
  .white{
    background-color: white;    
  }
  .black{
    background-color: #272a2f;
  }
  .yellow{
    background-color: rgb(250, 255, 189);
  }
  .content{
    background-color: white;
  }

  // HOME
  .games{
    background-color: #f1f1f1;
    padding: 10px;
    .box{
      margin-bottom: 5px;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      img.team{
        width: 65%;
      }
    }
  }
  .game{
    img.team,
    img.player{
      width: 30px;
    }
  }

  img.player, img.team {
    width: 22px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  img {
      vertical-align: middle;
  }

  h1 {
    img {
      width: 58px;
    }
  }

  table.detail{
    td.player_image{
      min-width: 115px;
    }
    img.player{
      width: 90%;
    }
  }
  table.statistic{
    font-size: 11px;
  }

  #calendario_home{
    margin-top: 49px;
  }
  #table_home{
    font-size: 11px;
  }
  // HOME
}
/*
 * FRONT
*/

/*
 * TABLE
 */
table.statistic{
  text-align: center;
  th{
    background-color: #272a2f;
    color: #fff;
    text-align: center;
  }
  td:nth-child(2n+2) {background: #fff }
  td:nth-child(2n+3) {background: #f1f1f1; }
  td.player{ text-align: left; }
  td.image{ 
    padding: 2px; 
    img{
      width: 20px !important;
    }
  }
  .sm{ 
    background-color: #66b4e8 !important; 
    font-weight: bold;
  }
  .selected{
    background-color: rgb(250, 255, 189) !important;
  }
}
tr.base td:first-child{
  border-left: 10px solid #66B4E8;

}
tr.alero td:first-child{
  border-left: 10px solid #21C130;

}
tr.pivot td:first-child{
  border-left: 10px solid #ED1C24;

}
/*
 * TABLE
 */

.ico_base{
  background-color: #66B4E8;  
}
.ico_alero{
  background-color: #21C130;
}
.ico_pivot{
  background-color: #ED1C24;
}

.select2{
  width: 100%;
}

/*
 * BACK
 */
body.back{
  table{
    img.player,
    img.team{
      width: 30px;
    }
    .player_detail{
      img{
        width: 100%;
      }
    }
  }
}
/*
 * BACK
 */

